.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(84, 80, 80, 0.655);
  padding: 50px;
  color: #6a2fffb3;
  overflow: scroll;
}

.containerModal {
  margin: auto;
  text-align: center;
  background-color: #e9efe8;
  font-family: 'Verdana', sans-serif;
  width: 40vw;
  color: white;
  height: 450px;
  position: relative;
}

.cancelbtn {
  position: absolute;
  color: #d68306;
  background-color: #ad2662;
  top: -25px;
  right: 0;
}

.cancelbtn:active {
  transform: translateY(5px);
}

.modal-title {
  color: black;
  font-size: 20px;
  margin: 10px 0;
}

.formBody {
  margin: 0 auto 10px auto;
  height: 85%;
  width: 100%;
  background-color: #e9f29b;
}

.formfield {
  border-bottom: 1px inset #635e5e;
  padding: 15px 0;
  position: relative;
} 

.input {
  position: absolute;
  left: 15px;
  bottom: 0;
  background-color: transparent;
  color: black;
  font-size: 15px;
  width: 95%;
  outline: none;
  border: none;
  cursor: text;
}

.label-text {
  text-align:center;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  transition: all 0.5s;
  color: #918b8b;
  left: 15px;
  transform: translateY(20px);
}

.input:focus + .label-text, .input:valid + .label-text {
  transform: translateY(-5px);
  color: #dbb081;
}

.charRem {
  color: black;
  position: absolute;
  top: 60px;
  right: 10px;;
  font-size: 9px;
}

.start-date {
  display: block;
  margin-bottom: -15px;
}

.time-input-dropdown {
  margin-top: 25px;
  width: 95px;
  height: 25px;
  background-color: #33aa2a;
  color: white;
}

.button {
  background-color: #5cb85c;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

.button-warning {
  background-color: #f0ad4e;
}

.button-danger {
  background-color: #d9534f
}

.button:hover {
  background-color: white;
  color: #61e887;
  outline: none
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 70%;
}