thead {
  background-color: hsl(79, 76%, 60%);
}

.month-year {
  background-color: hsl(79, 76%, 60%);
  text-align: center;
  margin: 0;
  font-size: 2em;
}

.table {
  margin-bottom: 0
}

tbody {
  background-color: #6ecad8;
}

.days {
  text-align: center;
}

td {
  height: 75px;
}

.add-event {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 48px;
  color: #65ff65;
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.see-event {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.add-event:hover {
  transform: rotate(90deg);
}

.add-event:active {
  transform: rotate(90deg) translateX(5px);
}

.event-num {
  text-align: center;
  font-size: 8px;
  margin: 5px 20% 0 20%;
  cursor: pointer;
  border-bottom: 1px dotted white;
}

.tool-tip {
  display: inline-block;
}

.tool-tip-text {
  visibility: hidden;
  background-color: #798779;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px 5px;
  font-size: 10px;
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 1;
}

.add-event:hover + .tool-tip-text {
  visibility: visible;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}