thead {
  background-color: hsl(79, 76%, 60%);
}

.month-year {
  background-color: hsl(79, 76%, 60%);
  text-align: center;
  margin: 0;
  font-size: 2em;
}

.table {
  margin-bottom: 0
}

tbody {
  background-color: #6ecad8;
}

.days {
  text-align: center;
}

td {
  height: 75px;
}

.date:hover {
  background-color: #8ddce8;
  cursor: pointer;
}

.add-event {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 48px;
  color: #65ff65;
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.see-event {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.add-event:hover {
  transform: rotate(90deg);
}

.add-event:active {
  transform: rotate(90deg) translateX(5px);
}

.event-num {
  text-align: center;
  font-size: 8px;
  margin: 5px 20% 0 20%;
  cursor: pointer;
  border-bottom: 1px dotted white;
}