thead {
  background-color: hsl(79, 76%, 60%);
}

.month-year {
  background-color: hsl(79, 76%, 60%);
  text-align: center;
  margin: 0;
  font-size: 2em;
}

.table {
  margin-bottom: 0
}

tbody {
  background-color: #6ecad8;
}

.days {
  text-align: center;
}

td {
  height: 75px;
}

.date:hover {
  background-color: #8ddce8;
  cursor: pointer;
}